<div class="backlog-root">
    <div class="p-2" style="margin-left: -2rem;">
        <% for (let issue of rootIssueList){ %>
            <%- include('../partials/issue.part.ejs', {issue: issue, project: project}) %>
        <% } %>
    </div>
    <div id="newIssueZone" style="display: none;" data-issue-key="new"></div>
    <div class="issue-text" data-issue-key="-1">
        <i class="fa fa-arrow-right-to-bracket fa-rotate-90 parent-adopt-button show-on-adopt-mode"></i>
    </div>
    <div>
        <button id="newIssueButton" type="button" class="btn btn-outline-success mt-3 ms-2 me-4"><i class="fa fa-plus"></i></button>
        <button id="editAllButton" type="button" class="btn btn-outline-primary mt-3 mx-2"><i class="fa fa-pencil"></i></button>
        <button id="sendAllButton" type="button" class="btn btn-outline-success mt-3 mx-2"><i class="fa fa-paper-plane"></i></button>
        <button id="cancelAllButton" type="button" class="btn btn-outline-danger mt-3 mx-2"><i class="fa fa-times"></i></button>
        <button id="adoptModeButton" type="button" class="btn btn-outline-primary mt-3 mx-2"><i class="fa fa-arrows-turn-right fa-flip-vertical"></i></button>
    </div>
</div>