.bracket {
    color: #808080;
}

.issueType {
    color: #409cd6;
}

.attribute {
    color: #79bdc3;
}

.value {
    color: #ce9178;
}


.issue-container {
    width: fit-content;
}

.bar {
    display: block;
    height: 3px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 25px;
}

.bar-part {
    height: 3px;
    display: inline-block;
    top: -15px;
    position: relative;
}

.bar-part.todo-part {
    background-color: #a940d6;
}

.bar-part.doing-part {
    background-color: #407ed6;
}

.bar-part.done-part {
    background-color: #77d640;
}

.hidden-issue {
    display: none;
}

.hidden-bar {
    display: none;
}

.fold-button {
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    color: #808080;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.fold-button.folded-chevron {
    transform: rotate(-90deg);
    transition: transform 100ms ease-in-out;
}

.backlogRoot {
    width: fit-content;
}

#newIssueZone {
    width: 100% - 2rem;
    height: 1.5rem;
    border: 1px solid;
    border-radius: 5px;
    border-color: #198754;
    margin-left: 2rem;
}

#newIssueZone:hover {
    border: 2px solid;
    border-color: #198754;
    cursor: pointer;
}

#newIssueButton {
    margin-left: 2rem
}

div.issue-text {
    display: unset;
}

div.issue-text.parent-choice:hover {
    border: 2px solid;
    border-radius: 5px;
    border-color: #198754;
    margin-left: -2px;
    cursor: pointer;
}

input.slick {
    all: unset;
    min-width: 10px;
}

span.hidden-input {
    display: none;
    white-space: pre;
}

div.input-holder {
    display: contents;
}

.issueType input.slick::placeholder {
    color: #409cd6;
}

.value input.slick::placeholder {
    color: #ce9178;
}

.fa-option {
    font-family: 'FontAwesome';
    background-color: #212529;
    border: none;
    color: lightgray;
    cursor: pointer;
}

.fa-option.todo-option {
    color: lightgray!important;
}

.fa-option.doing-option {
    color: rgb(58, 203, 255)!important;
}

.fa-option.done-option {
    color: lightgreen!important;
}

i.send-button {
    cursor: pointer;
    color: lightgreen;
}