<%- include('../commons/head.com.ejs', {title: `Backlog de ${project.name}`, additionalCss: ['structure']}) %>

<body>
    <%- include('../commons/navbar.com.ejs', {user: user, currentProject: project.name, currentProjectKey: project.key, urlSuffix: '/backlog'}) %>
    <%- include('../partials/backlog.part.ejs', {project: project, rootIssueList: rootIssueList}) %>
</body>

<%- include('../commons/foot.com.ejs') %>

<script src="/js/backlog.js"></script>