<%- include('../commons/head', {title: `Versions de ${project.name}`, additionalCss: []}) %>

<body>
    <%- include('../commons/navbar', {user: user, currentProject: project.name, currentProjectKey: project.key, urlSuffix: '/version'}) %>
    <div class="p-3">
        <h1>Versions de <%= project.name %></h1>
    </div>
</body>

<%- include('../commons/foot') %>